<div class="content f">
  <h1>Formulario registro de POST</h1><br>


<%= form_with url: 'crearpost', method: :post, model: @Post do |f|%>

<%= f.label :author, "Autor"%><br>
<%= f.text_field :author, name: "post[author]"%><br>
<%= f.label :date, "Fecha de creacion"%><br>
<%= f.text_field :date, name: "post[date]"%><br>
<%= f.label :content, "Contenido"%><br>
<%= f.text_field :content, name: "post[content]"%><br>
<%= f.label :image, "imagen "%><br>
<%= f.text_field :image, name: "post[image]"%><br><br>

<%= f.submit "Guardar"%><br>

<%= link_to "Ir a ver", home_ver_path %><br>


<% end %>
</div>
